* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

h1 {
  color: green;
  font-size: 3em;
  text-align: center;
}

section {
  width: 100%;
  border: 1px solid red;
}

.contenedor {
  background: #f4f450;
  height: 50%;
}